.topbar {
  overflow: hidden;
  text-align: center;
  padding: 15px;
  text-align: left;
  font-size: 17px;
  text-decoration: none;
  background-color: cornflowerblue;
  margin: -10px;
}

.botao {
  background-color: white;
  border-radius: 8px;
  border-width: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
}

.botao:active {
  background-color: #bac8e5;
}

router-outlet {
  padding: 10px;
}
