<body>
<div>
  <button class="botao" [routerLink]="['/marca/add']">Adicionar Marca</button>
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th class="column">Nome</th>
     <!-- <th class="column">Deletar</th> -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brand of list">
      <!-- <td class="data">{{brand.id}}</td> -->
      <td class="data">{{brand.name}}</td>
      <!-- <td class="data">
         <button class="botaoDelete" (click)="delete(brand.id)">Deletar</button>
       </td> -->
    </tr>
    </tbody>
  </table>
</div>
</body>

